{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collection list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Url</th>
                <th>Status</th>
                <th>Price</th>
                <th>Shipping cost</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td><a href="{{ path('collection_show', { 'id': collection.id }) }}">{{ collection.item }}</a> <a href="{{ path('collection_edit', { 'id': collection.id }) }}"><i class="material-icons">mode_edit</i></a></td>
                <td><a href="{{ collection.url }}" title="{{ collection.url | length > 64 ? collection.url : '' }}" target="_blank">{{ collection.url | length > 64 ? collection.url | slice(0, 64) ~ '...' : collection.url }}</a></td>
                <td>{{ collection.status }}</td>
                <td>{{ collection.currency }} {{ collection.price | number_format(2) }}</td>
                <td>{{ collection.currency }} {{ collection.shippingCost | number_format(2) }}</td>
                <td>{{ collection.notes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-default">
        <a class="text-info" href="{{ path('collection_new') }}"><i class="material-icons">add_circle_outline</i></a>
    </button>
{% endblock %}
