{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <a href="{{ path('collection_index') }}"><i class="material-icons">chevron_left</i></a>
        {{ collection.item }}
        <a href="{{ path('collection_edit', { 'id': collection.id }) }}"><i class="material-icons">mode_edit</i></a>
    </h1>

    <div class="col-lg-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/200x200" alt="..." />
            {#<i class="material-icons">add_a_photo</i>#}
        </a>
    </div>
    <div class="col-lg-9">
        <table class="table">
            <tbody>
            <tr>
                <th>Url</th>
                <td><a href="{{ collection.url }}" title="{{ collection.url | length > 64 ? collection.url : '' }}" target="_blank">{{ collection.url | length > 64 ? collection.url | slice(0, 64) ~ '...' : collection.url }}</a></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ collection.status }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ collection.currency }} {{ collection.price | number_format(2) }}</td>
            </tr>
            <tr>
                <th>Shipping cost</th>
                <td>{{ collection.currency }} {{ collection.shippingCost | number_format(2) }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ collection.notes }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="material-icons">delete</i></button>
    {{ form_end(delete_form) }}
{% endblock %}
