{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collection</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection.id }}</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>{{ collection.item }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ collection.url }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ collection.status }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ collection.price }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ collection.currency }}</td>
            </tr>
            <tr>
                <th>Shippingcost</th>
                <td>{{ collection.shippingCost }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ collection.notes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collection_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
