{% extends 'base.html.twig' %}

{% block body %}
    <span class="pull-right">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
    </span>

    <h1>Item list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Status</th>
                <th>Price</th>
                <th>Shipping cost</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': item.id }) }}">{{ item.name }}</a> <a href="{{ path('item_edit', { 'id': item.id }) }}"><i class="material-icons">mode_edit</i></a></td>
                <td><a href="{{ item.url }}" title="{{ item.url | length > 64 ? item.url : '' }}" target="_blank">{{ item.url | length > 64 ? item.url | slice(0, 64) ~ '...' : item.url }}</a></td>
                <td>{{ item.status }}</td>
                <td>{{ item.currency }} {{ item.price | number_format(2) }}</td>
                <td>{{ item.currency }} {{ item.shippingCost | number_format(2) }}</td>
                <td>{{ item.notes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-default">
        <a class="text-info" href="{{ path('item_new') }}"><i class="material-icons">add_circle_outline</i></a>
    </button>
{% endblock %}
