{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <a href="{{ path('item_index') }}"><i class="material-icons">chevron_left</i></a>
        {{ item.name }}
        <a href="{{ path('item_edit', { 'id': item.id }) }}"><i class="material-icons">mode_edit</i></a>
    </h1>

    <div class="col-lg-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/200x200" alt="..." />
            {#<i class="material-icons">add_a_photo</i>#}
        </a>
    </div>
    <div class="col-lg-9">
        <table class="table">
            <tbody>
            <tr>
                <th>Url</th>
                <td><a href="{{ item.url }}" title="{{ item.url | length > 64 ? item.url : '' }}" target="_blank">{{ item.url | length > 64 ? item.url | slice(0, 64) ~ '...' : item.url }}</a></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ item.status }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td {% if exchange_rate %}title="€ {{ (item.price * exchange_rate) | number_format(2) }}" {% endif %}>{{ item.currency }} {{ item.price | number_format(2) }}</td>
            </tr>
            <tr>
                <th>Shipping cost</th>
                <td>{{ item.currency }} {{ item.shippingCost | number_format(2) }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ item.notes }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="material-icons">delete</i></button>
    {{ form_end(delete_form) }}
{% endblock %}
